<h1>Create Make</h1>


<form id="form1" ngNoForm method="post" action="/api/Make/CreateMake"
      enctype="application/x-www-form-urlencoded">
  <div>
    <label for="Id">Id</label>
  </div>
  <div>
    <input name="Id" type="text" />
  </div>
  <div>
    <label for="Name">Name</label>
  </div>
  <div>
    <input name="Name" type="text" />
  </div>
  <div>
    <label for="Abrv">Abrv</label>
  </div>
  <div>
    <input name="Abrv" type="text" />
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>
