<h1>Models</h1>

<p *ngIf="!models"><em>Loading...</em></p>

<table class='table' *ngIf="models">
  <thead>
    <tr>
      <th>Id</th>
      <th>MakeId</th>
      <th>Name</th>
      <th>Abrv</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of models">
      <td>{{ model.id }}</td>
      <td>{{ model.makeId }}</td>
      <td>{{ model.name }}</td>
      <td>{{ model.abrv }}</td>
      <td>
        <a [routerLink]="['/editModel/', model.id]">Edit</a> |
        <a [routerLink]="['/detailsModel/', model.id]">Details</a>|
        <a (click)="deleteModel(model.id)">Delete</a> |
      </td>
    </tr>
  </tbody>
</table>

<a [routerLink]="['/createModel/']" >Create new</a>
