<h1>Edit Model</h1>


<form id="form" ngNoForm method="put" action="/api/SampleData/EditModel"
      enctype="application/x-www-form-urlencoded">
  <div>
    <label for="Id">Id</label>
  </div>
  <small>Azurirajte na svoju odgovornost</small>
  <div>
    <input name="Id" ngDefaultControl type="text" [(ngModel)]="_modelService.currentId" value="{{_modelService.CurrentId}}" />
  </div>
  <div>
    <label for="MakeId">MakeId</label>
  </div>
  <div>
    <input name="MakeId" ngDefaultControl type="text" [(ngModel)]="_modelService.currentMakeId" value="{{_modelService.CurrentMakeId}}" />
  </div>
  <div>
    <label for="Name">Name</label>
  </div>
  <div>
    <input name="Name" ngDefaultControl type="text" [ngModel]="_modelService.currentName" value="{{_modelService.CurrentName}}" />
  </div>
  <div>
    <label for="Abrv">Abrv</label>
  </div>
  <div>
    <input name="Abrv" ngDefaultControl type="text" [(ngModel)]="_modelService.currentAbrv" value="{{_modelService.CurrentAbrv}}" />
  </div>
  <div>
    <input type="submit" value="Submit" />
  </div>
</form>
